{% extends "base.html" %}

{% load static %}


{% block content %}


<style>
    /*** Example Styles ****/
    body {
        max-width: 1024px;
        margin: 20px auto;
    }

    .example-wrap {
        display: inline-block;
    }

    .example {
        float: left;
    }

    /***** 1. Rotor ********/
    @-webkit-keyframes rotor {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes rotor {
        from {
            -moz-transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
        }
    }

    @-o-keyframes rotor {
        from {
            -o-transform: rotate(0deg);
        }

        to {
            -o-transform: rotate(360deg);
        }
    }

    @keyframes rotor {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .button-wrap-1 {
        width: 120px;
        height: 120px;
        margin: 20px 0;
        display: inline-block;
        position: relative;
    }

    .button-wrap-1 .clicker {
        /* Inner circle */
        width: 100px;
        height: 100px;
        /* 20px smaller b/c of margin below */
        margin: 10px;
        background-color: #fff;
        border-radius: 60px;
        /* Overlays this circle on the .circle */
        z-index: 2;
        position: absolute;
        /* centers the text: adjust to desired size */
        padding: 22px 10px;
        text-align: center;
        /* shadow */
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    }

    .button-wrap-1 .circle {
        /** outer circle **/
        width: 120px;
        height: 120px;
        border-radius: 60px;
        /** image = wedge **/
        background-image: linear-gradient(45deg, white 0%, white 30%, #14beeb 30%, #14beeb 70%, white 70%, white 100%);
        /*** outer circle position: under */
        z-index: 1;
        position: absolute;
    }

    .button-wrap-1 .clicker:hover+.circle,
    .button-wrap-1 .clicker:active+.circle {
        -webkit-animation: rotor 1.5s linear 0s infinite normal;
        -mox-animation: rotor 1.5s linear 0s infinite normal;
        -o-animation: rotor 1.5s linear 0s infinite normal;
        animation: rotor 1.5s linear 0s infinite normal;
    }


    .button-wrap-2 {
        width: 60px;
        height: 50px;
        margin: 20px 0;
        display: inline-block;
        position: relative;
    }

    .button-wrap-2 .circle {
        /* Inner circle */
        width: 44px;
        height: 40px;
        margin: 4px;
        background-color: #fff;
        border-radius: 40px;
        z-index: 2;
        position: absolute;
        padding: 22px 10px;
        text-align: center;
        /* shadow */
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    }

    .button-wrap-2 .outer-circle {
        /** outer circle **/
        width: 51px;
        height: 51px;
        border-radius: 60px;
        background-color: #ffff;
        z-index: 1;
        position: absolute;
    }

    .button-wrap-2 .circle:hover+.outer-circle,
    .button-wrap-2 .circle:active+.outer-circle {
        -webkit-animation: zoom 1s ease-in 0s 1 both;
        -mox-animation: zoom 1s ease-in 0s 1 both;
        -o-animation: zoom 1s ease-in 0s 1 both;
        animation: zoom 1s ease-in 0s 1 both;
    }
</style>

<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread detailing">Product Details</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section" id="DivID">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href='{{ object.image.url }}' class="image-popup"><img src="{{ object.image.url }}" class="img-fluid"
                        alt="Colorlib Template"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>{{object.title}}</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">5.0</a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                    </p>
                </div>
                <p class="price"><span>₹{{object.price}}</span></p>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group d-flex">
                            <div class="select-wrap">
                                <div class="example-wrap" style="cursor: pointer;">
                                    <div class="button-wrap-2 example" onclick="small()">
                                        <p class="circle" style="padding-top: 8px; padding-bottom: 36px;">S</p>
                                        <div class="outer-circle" id="small"></div>
                                    </div>
                                </div>
                                <div class="example-wrap" style="cursor: pointer;">
                                    <div class="button-wrap-2 example" onclick="medium()">
                                        <p class="circle" style="padding-top: 8px; padding-bottom: 36px;">M</p>
                                        <div class="outer-circle" id="medium"></div>
                                    </div>
                                </div>
                                <div class="example-wrap" style="cursor: pointer;">
                                    <div class="button-wrap-2 example" onclick="large()">
                                        <p class="circle" style="padding-top: 8px; padding-bottom: 36px;">L</p>
                                        <div class="outer-circle" id="large"></div>
                                    </div>
                                </div>
                                <div class="example-wrap" style="cursor: pointer;">
                                    <div class="button-wrap-2 example" onclick="extra_large()">
                                        <p class="circle" style="padding-top: 8px; padding-bottom: 36px;">XL</p>
                                        <div class="outer-circle" id="extra_large"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group col-md-4 d-flex mb-3">
                        <!-- <div><p>Quantity</p></div> -->
                        <div>
                            <label>Quantity</label>
                            <select name="" id="" class="form-control">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="descriptive">
                    <p id="product-details-p"><span id="product-details-span"><b>PRODUCT DETAILS</b></span></p>
                    <span id="product-description-color" class="text-1">{{object.split_text.key_1}}</span>

                    <p id="product-details-p"><span id="product-details-span"><b>Size & Fit</b></span></p>
                    <span id="product-description-color">{{object.split_text.key_2}}</span>

                    <p id="product-details-p"><span id="product-details-span"><b>Material & Care</b></span></p>
                    <span
                        id="product-description-color">{{object.split_text.key_3}}<br />{{object.split_text.key_4}}</span>

                    <p id="product-details-p"><span id="product-details-span"><b>Specifications</b></span></p>
                    <div class="row">
                        {% if object.categories == 'tops' %}
                        <div class="col-6">
                            <span><b>Sleeve Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Sleeve Styling</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Neck</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Print or Pattern Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Surface Styling</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 't_shirts' %}
                        <div class="col-6">
                            <span><b>Fabric</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Occasion</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Main Trend</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Neck</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'casual_shirts' or object.categories == 'formal_shirts' %}
                        <div class="col-6">
                            <span><b>Sleeve Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Occasion</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Collar</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Placket</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'sweatshirts' %}
                        <div class="col-6">
                            <span><b>Sleeve Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Pattern</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Neck</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Print or Pattern Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'jackets' %}
                        <div class="col-6">
                            <span><b>Sleeve Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Collar</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Print or Pattern Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'blazzers_coats' %}
                        <div class="col-6">
                            <span><b>Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Fabric</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Front Styling</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Lining Fabric</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'suits' %}
                        <div class="col-6">
                            <span><b>Collar</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Bottom Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Fabric</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Sleeve Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Front Styling</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'skirts' %}
                        <div class="col-6">
                            <span><b>Occasion</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Pattern</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Waistband</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'jeans' %}
                        <div class="col-6">
                            <span><b>Distress</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Fade</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Waist Rise</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Stretch</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'casual_trousers' %}
                        <div class="col-6">
                            <span><b>Weave Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Waist Rise</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Type of Pleat</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'formal_trousers' %}
                        <div class="col-6">
                            <span><b>Waist Rise</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Weave Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Type of Pleat</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Fly Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'shorts' %}
                        <div class="col-6">
                            <span><b>Waist Rise</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Print or Pattern Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'trackpants_joggers' %}
                        <div class="col-6">
                            <span><b>Fabric</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Length</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Occasion</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Wash Care</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'jeggings' %}
                        <div class="col-6">
                            <span><b>Fabric</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Pattern</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Fabric 2</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Type</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% elif object.categories == 'capris' %}
                        <div class="col-6">
                            <span><b>Fabric</b></span>
                            <p id="product-description-color">{{object.split_text.key_5}}</p>
                            <hr>
                            <span><b>Waist Rise</b></span>
                            <p id="product-description-color">{{object.split_text.key_6}}</p>
                            <hr>
                            <span><b>Closure</b></span>
                            <p id="product-description-color">{{object.split_text.key_7}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <span><b>Fit</b></span>
                            <p id="product-description-color">{{object.split_text.key_8}}</p>
                            <hr>
                            <span><b>Pattern</b></span>
                            <p id="product-description-color">{{object.split_text.key_9}}</p>
                            <hr>
                            <span><b>Wash Care</b></span>
                            <p id="product-description-color">{{object.split_text.key_10}}</p>
                            <hr>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-4">

                </div>
                <div>
                    {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-white" style="padding-top: 0px;">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Ralated Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="related-products">

        </div>
    </div>
</section>


{% endblock %}