{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">My Cart</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section" style="padding-top: 50px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
                {% if not billing_profile %}
                <div class="row radio justify-content-center">
                    <label class="mr-4">
                        <input type="radio" name="user" class="login-radio" checked> Login
                    </label>
                    <label>
                        <input type="radio" name="user" class="register-radio"> Create an Account?
                    </label>
                </div>
                <div class="form-1">
                    <form method="POST" id="login_data"
                        action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'
                        class="billing-form"> {% csrf_token %}
                        {% if request.build_absolute_uri %}
                        <input type="hidden" name="next" value='{{ request.build_absolute_uri }}' />
                        {% endif %}
                        <h3 class="mb-4 billing-heading">Login</h3>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{login_form.email}}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    {{ login_form.password }}
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-7" style="padding-left: 52px;">
                                <p><a href="javascript:$('#login_data').submit();"
                                        class="btn btn-primary py-3 px-5">Login</a></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-2" style="display: none;">
            
                    <form method="POST" id="register_data"
                        action='{% if action_url %}{{ action_url }}{% else %}{% url "register" %}{% endif %}'
                        class="billing-form"> {% csrf_token %}
                        {% if request.build_absolute_uri %}
                        <input type="hidden" name="next" value='{{ request.build_absolute_uri }}' />
                        {% endif %}
                        <h3 class="mb-4 billing-heading">Register User</h3>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Full Name</label>
                                    {{register_form.full_name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{register_form.email}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Password</label>
                                    {{register_form.password1}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Password Confirmation</label>
                                    {{register_form.password2}}
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-7" style="padding-left: 52px;">
                                <p><a href="javascript:$('#register_data').submit();"
                                        class="btn btn-primary py-3 px-5">Submit</a></p>
                            </div>
                        </div>
                    </form>
                </div>
                {% else %}
                {% if not object.shipping_address %}
                <div class="row">
                    <div class="col-12">
                        <b class="lead">Shipping Address</b>
                        <hr />
                    </div>
                    <div class="col-12">
                        {% url "checkout_address_create" as checkout_address_create %}
                        {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}

                    </div>
                    <div class="col-12">
                        {% url 'checkout_address_reuse' as checkout_address_reuse %}
                        {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
                    </div>
                </div>
                {% elif not object.billing_address %}
                <div class="row">
                    <div class="col-12">
                        <p class="lead">Billing Address</p>
                        <hr />
                    </div>
                    <div class="col-12">
                        {% url "checkout_address_create" as checkout_address_create %}
                        {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
                    </div>
                    <div class="col-12">
                        {% url 'checkout_address_reuse' as checkout_address_reuse %}
                        {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
                    </div>
                </div>

                {% else %}

                <div class="row mt-5 pt-3 d-flex">
                    <div class="col-md-7 d-flex">
                        <div class="cart-detail cart-total bg-light p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Cart Total</h3>
                            <p class="d-flex">
                                <span style="width: 40%;">Cart Items</span>
                                <span style="width: 60%;">
                                    {% for product in object.cart.products.all %}{{ product }} X 1<br />
                                    {% endfor %}
                                </span>
                            </p>
                            <p class="d-flex">
                                <span style="width: 40%;">Cart Total</span>
                                <span style="width: 60%;">₹{{ object.cart.total }}</span>
                            </p>
                            <p class="d-flex">
                                <span style="width: 40%;">Shipping Total</span>
                                <span style="width: 60%;">₹{{object.shipping_total}}</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span style="width: 40%;">Total</span>
                                <span style="width: 60%;">₹{{object.total}}</span>
                            </p>
                            <form id="confirm-order" class="form" method="POST" action="">{% csrf_token %}
                                <p><a href="javascript:$('#confirm-order').submit();"
                                        class="btn btn-primary py-3 px-4">Place an order</a></p>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-5 d-flex">
                        <div class="cart-detail cart-total bg-light p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Addresses</h3>
                            <div class="lead"><b>Shipping Address</b></div>
                            <div style="margin-top: 5px;">{{ object.shipping_address.get_address }}</div>
                            <div class="lead mt-5"><b>Billing Address</b></div>
                            <div style="margin-top: 5px;">{{ object.billing_address.get_address }}</div>
                        </div>
                    </div>
                </div>

                {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}












<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">

            </div>
        </div>
    </div>
</section>