
<style>
    @import "compass/css3";
  
    .p-nav {
       margin: 0 0 20px;
       text-align: center;
    }
   .input-nav {
       border: 1px solid #ccc;
       font-size: 12px;
       height: 36px;
       padding: 4px 8px;
       position: absolute;
       width: 50%;
  }
   .input-nav:focus {
       outline: none;
  }
   .button-nav {
       text-align: center;
  }
   .button-nav:focus {
       outline: none;
  }
   .button-nav.btn-search, .button-nav.btn-reset {
       background: #ffa45c;
       border: none;
       height: 30px;
       font-size: 12px;
       padding: 4px;
       position: absolute;
       width: 30px;
  }
   .sample {
       float: left;
       height: 50px;
       position: relative;
       width: 34%;
  }
   .sample.one input, .sample.two input {
       border-radius: 15px;
       right: 0;
       transition: all 0.3s ease-in-out;
       width: 50%;
  }
   .sample.one input:focus, .sample.two input:focus {
       width: 100%;
  }
   .sample.one input:focus ~ .button-nav.btn-search, .sample.two input:focus ~ .button-nav.btn-search {
       background: #ffa45c;
       color: #fff;
  }
   .sample.one input:focus ~ .button-nav.btn-reset, .sample.two input:focus ~ .button-nav.btn-reset {
       right: -22px;
  }
   .sample.one .button-nav, .sample.two .button-nav {
       transition: all 0.3s ease-in-out;
  }
   .sample.one .button-nav.btn-search, .sample.two .button-nav.btn-search {
       background: #ccc;
       border-radius: 50%;
       height: 31px;
       right: 2px;
       top: 3px;
       transition: all 0.3s ease-in-out;
       width: 30px;
  }
   .sample.one .button-nav.btn-reset, .sample.two .button-nav.btn-reset {
       background: #fff;
       border: 1px solid #ccc;
       border-radius: 50%;
       font-size: 10px;
       height: 20px;
       line-height: 20px;
       padding: 0;
       right: 5px;
       top: 5px;
       width: 20px;
       z-index: -1;
  }
   
  </style>
<div class="sample one">
    <form method="GET" action='{% url "search:query" %}'>
        <input class="input-nav" type="search" name="q" placeholder="Search" value='{{ request.GET.q }}' aria-label="Search">
        <button type="submit" class="btn btn-search button-nav" style="padding: 0px !important"><i class="ion-ios-search"></i></button>
    </form>
</div>
